@import "./../ThemeColor.css";

.ChartsButtons {
    border-radius: 20px;
    overflow: hidden;
    height: 176px;
    cursor: pointer;
    box-shadow: 0px 1.5em 2em 0px rgb(11 37 124 / 6%);
}
.buttonsSpinners.spinner-border {
    border: var(--bs-spinner-border-width) solid white ;
    border-right-color: transparent ;
}
.loadingButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grafic_button_container {
    padding-bottom: 2em;
}
.btnNumberPast {
    font-size: 20px;
    line-height: 4px;
    font-weight: 100;
    color: var(--Text-color );
    margin-top: 4px;
    text-align: center;
}
.btnIconPast {
    font-size: 1.3em;
}
.graficBtnName {
    text-align: initial;
    font-size: 1.2em;
    font-family: "Work Sans",sans-serif;
    line-height: 16px;
    margin: 0;
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-transform: none;
    color: var(--Text-color );
}

.mainGraficName {
    padding: 1em 1em 0em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BtnNumberICon {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 32px;
    color: var(--Text-color );
}
#BtnIcon {
    font-size: 30px;
}
