.DakmodeButton {
    background-color: white;
    color: #333333;
    font-size: 15px;
    border-radius: 100%;
    margin: 0;
    display: flex;
    border: 0;
    height: 28px;
    width: 28px;
    align-content: center;
    align-items: center;
}
