.mainsettigs_header {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5em;
    justify-content: flex-end;
}
.header {
    padding: 0em 2em 0em 0em;
}
.header_menu_main {
    align-items: center;
    justify-content: center;
    display: flex;
}
.header_items.row {
    height: 7em;
}
.main_header {
    position: fixed;
    width: 100%;
    z-index: 999999999;
    background-color: white;
}
a.menu-item {
    padding: 1em;
    margin: 0.5em;
    color: black;
    font-weight: bold;
    background-color: rgb(221,233,242);
    font-size: 0.9em;
    border-radius: 100em;
}