@import "./../ThemeColor.css";


.page_banner_dashboard {
    margin-bottom: 3em;
}
.page_banner_dashboard {
    height: 470px;
}
.main_page_banner {
    border-radius: 20px;
  }
  .container.main_page_banner {
    background: #9d1d5d;
    background: linear-gradient(166deg, #e5097f 28%, #9d1d5d 100%);
    height: 100%;
}
.page_main_avatar {
    box-shadow: 0px 1em 3em 0px #0000002e;
    padding: 1.5em 1em;
    border-radius: 20px;
    margin-bottom: 3em;
}
.page-banner {
    width: 100%;
}
.page-container{
    z-index: 99999999;
    position: relative;
}
.page-banner-img-active img{
    width: 100%;
}

.avatar_page img{
    width: 100px;
    border-radius: 100%;
}
.main_page_avatar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.page_name {
    color: var(--Text-color);
    font-size: 15px;
    font-weight: 600;
}
.seccion_description {
    font-size: 15px;
    line-height: 26px;
}
.page_banner_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page_main_avatar {
    display: flex;
    align-items: center;
    gap: 2em;
}
.page_name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.page_avatar img{
    border-radius: 100%;
}
.page_main_feature_data {
    display: flex;
    gap: 3em;
}
.feature_data span{
    font-size: 18px;
}

.page_banner {
    padding: 1em 1em;
}
