@import "./../ThemeColor.css";



.main_page_banner {
    border-radius: 20px;
  }
  .container.main_page_banner {
    background: rgb(238,174,202);
    background: linear-gradient(140deg,rgba(238,174,202,1) 0%,rgba(148,187,233,1) 100%);
    box-shadow: 1em 1em 5em 0px #98bae7;
    padding: 0.5em 1em;
}
.days_to_review {
    color: rgb(187,187,187);
    font-size: 1.1em;
    text-align: end;
    margin-top: 1em;
}
.days_to_review:hover{
    color: rgb(96,96,96);
}
.analizis_post_time {
    margin-right: 0em;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    color: rgb(96,96,96);
    background-color: rgba(255,255,255,0.4);
    border-radius: 100em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.7em;
}
.seccion_description {
    font-size: 1.2em;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 69%);
    color: white;
}
.seccionTitle {
    color: white;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 0px 1px 1px rgb(24 24 24);
    line-height: 1.4;
    font-weight: bold;
}
.page-banner {
    width: 100%;
}
.page-container{
    z-index: 99999999;
    position: relative;
}
.page-banner-img-active img{
    width: 100%;
}

.avatar_page img{
    width: 100px;
    border-radius: 100%;
}
.main_page_avatar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.page_name {
    color: var(--Text-color);
    font-size: 15px;
    font-weight: 600;
}
.seccion_description {
    font-size: 15px;
    line-height: 26px;
}
.page_banner_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.score_page_starts i {
    font-size: 3.5em;
    text-shadow: 0px 0.1em 0.01em rgb(255 204 0);
    color: rgb(255,236,0);
}
.main_score_page {
    margin-bottom: 1.5em;
}
.score_page {
    text-align: center;
}
.score_page_starts i:nth-child(2){
    font-size: 5em;
}
.page_name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.page_avatar img{
    border-radius: 100%;
}
.page_main_feature_data {
    display: flex;
    gap: 3em;
}
.feature_data span{
    font-size: 18px;
}

.page_banner {
    padding: 1em 1em;
}
