@import "./../ThemeColor.css";

.Redesdropdown-content {
    background-color: var(--button-color);
    left: 0px;
    border-radius: 20px;
    z-index: 99;
    height: 360px;
    position: absolute;
    overflow: auto;
    width: 92%;
    margin-top: 28px;
    margin-left: 5%;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.Redesdropdown-content::-webkit-scrollbar{
    width: 7px;
  
}
/* Track */
.Redesdropdown-content::-webkit-scrollbar-track {
    border-radius: 20px;
  }
   
  /* Handle */
  .Redesdropdown-content::-webkit-scrollbar-thumb {
    background: rgb(14,48,168); 
    border-radius: 10px;
   
  }
  
  /* Handle on hover */
  .Redesdropdown-content::-webkit-scrollbar-thumb:hover {
    background: rgb(14,48,168); 
  }
  .RedesTextButton {
    font-size: 0.8em;
    margin-left: 1em;
    color: rgb(187,187,187);
}
.Redesdropdown-btn:hover .RedesTextButton{
    color: black;
  
}
.Redesdropdown-contentChild {
    margin: 0.5em;
} 

.Redesdropdown-btn-close {
    text-align: center;
    padding-top: 1em;
}
img.RedesIcono-close {
    width: 38px;
    height: 38px;
}
.RedesIcono {
    width: 30px;
    height: 30px;
}
.Redesdropdown {
    padding: 1.3em;
}
a.RedesLink:hover {
    background-color: rgb(221,233,242);
    transition-duration: 300ms;
}

a.menu-item:hover {
    background-color: rgb(221,233,242);
    color: black;
}
.select_range_date_text {
    color: rgb(187,187,187);
    font-size: 0.7em;
    margin: 3em 0em 1.3em 2em;
    text-align: initial;
}
.calendar_and_monthpicker_active {
    background-color: rgb(221,233,242);
    border-radius: 20px;
    padding: 2em 1em 1em 1em;
    margin: 1em;
}
.Redesdropdown-btn {
    cursor: pointer;
    border-radius: 100em;
    padding: 0.8em 1em;
    color: black;
    background-color: white;
}

.Redesdropdown-btn svg, .icon_red_outside svg {
    font-size: 1em;
}
a.RedesLink {
    padding: 1em 1.3em;
    display: block;
    margin-bottom: 0.5em;
    font-size: 22px;
    color: var(--Text-color);
    gap: 10px;
    border-radius: 100em;
}
.RedesText {
    font-size: 17px;
    margin-left: 1em;
    color: #7a7878;
}

.IconoCaret{
    float: right;
}


@media only screen and (max-width: 425px){
	.Redesdropdown-content {
        background-color: var(--button-color);
        left: 0px;
        bottom: 6em;
        width: 100%;
        margin-top: 0;
        margin-left: 0px;
    }
    .Redesdropdown-btn {
        background-color: transparent;
        padding: 1em;
    }
}

