@import "./../../ThemeColor.css";
.DashboardsThree {
    height: 64px;
    border-radius: 10px;
    height: 100%;
}
.buttonDashboard > div {
    height: 260px;
}
.MinDashboarTreBtn {
    height: 100%;
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BtnDashboardTotal {
    color: white;
    font-size: 23px;
    font-weight: bold;
}
.BtnDashboardname {
    background-color: white;
    width: 92%;
    font-size: 1.2em;
    padding: 1px;
    color: black;
    border-radius: 20px;
    text-align: center;
}

span.actualDashboardNumber {
    line-height: 0px;
    margin-top: 20px;
    margin-left: 0px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Work Sans",sans-serif;
    font-style: normal;
    letter-spacing: 0em;
}
.BtnNumber {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Work Sans",sans-serif;
}

@media only screen and (max-width: 425px){
	.grafic_button_container {
        padding: 1em 1em 0em 2em;
    }
}
