@import "./../../ThemeColor.css";

.ScheshuleMonth {
    width: 24%;
    display: flex;
    height: 6rem;
    text-align: center;
    padding: 1.5em;
    background-color: var(--BlackAndGray);
    border-radius: 10px;
    color: var(--Text-color);
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
}
.Resumen {
    margin-top: 4em;
}
.mainResumenTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.mainDashboard {
    padding: 1em 3em 1em 1em;
}
.CountrysMax, .CountrysCity {
    width: 49%;
    background-color: var(--BlackAndGray);
    border-radius: 10px;
    padding: 0.5em;
    text-align: center;
    color: var(--color-fuente);
}

.mainAgeSex, .mainDatabuttons {
    height: 50%;
}
.bottomItemsDashboard {
    padding-top: 1em;
}
.twoButtonsdown {
    gap: 1em;
}
.dashboardItems {
    margin-bottom: 0.8em;
}
.right-dashboardItems {
    gap: 1em !important;
    display: flex;
    flex-direction: column;
}
.buttonsItemsDown, .buttonsitems, .buttonsItemsDown, .col-item-posts  {
    padding-left: 7px !important;
    padding-right: 7px !important;
    height: 100%;
}
