.post_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.post_image img{
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 10px;
}
.main_header_posts {
    display: flex;
    align-items: center;
    gap: 4em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(222,222,222);
}
.col-post_list {
    padding: 0em 4em !important;
}
.current_post_col{
    padding: 0em 3em;
    border-left: 1px solid rgb(222,222,222);
}
.session_header_posts {
    padding: 0em 7em !important;
    margin-bottom: 2em;
}
.header_post_description {
    margin-bottom: 2em;
    border-radius: 20px;
}
.post_description_redes svg {
    width: 30px;
    height: 30px;
}
.post_description_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: rgb(221,233,242);
    border-radius: 20px;
    margin: 0.2em;
}
.post_description_items {
    margin-bottom: 2em;
}
.header_post_description {
    margin-bottom: 1em;
    padding: 1em 0em;
    align-items: center;
    background-color: rgb(221,233,242);
}
.score_post_name {
    font-size: 1.1em;
    color: white;
    font-weight: bold;
}
.score_post_starts i{
    font-size: 1.5em;
    text-shadow: 0px 0.1em 0.01em rgb(151 91 4 / 74%);
    color: white;
    font-weight: bold;
}
.score_post_starts i:nth-child(2){
    font-size: 2.5em;
    margin-top: 0;
}
.score_post {
    gap: 1em;
    background-color: rgb(246,207,54);
    box-shadow: 0.5em 0.5em 2em 0px rgb(251 210 138 / 80%);
    background: linear-gradient(133deg,rgba(215,161,219,1) 0%,rgba(255,215,130,1) 100%);
    padding: 2em 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.col_post_description_date {
    font-size: 16px;
    text-align: end;
}
.post_post_description {
    margin-top: 2em;
}
.list_buttos_in > span > i{
    font-size: 18px;
    margin-top: 3px;
}
.list_buttos_in {
    gap: 0.5em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}
.header_post_List_buttons {
    color: black;
    padding: 0.5em 2em;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}
.header_post_List_buttons:hover {
    background-color: #edf2ff;
}
.post_date {
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.main_post_list {
    height: 500px;
    overflow: auto;
    padding: 1em 2em;
}
.header_post_list_name {
    font-size: 1.1em;
    font-weight: bold;
}
.post_image {
    margin-top: -24px;
}
.type_post_img i{
   font-size: 18px;
}
.type_post_img {
    background-color: #edf0ff;
    padding: 0.5em;
    border-radius: 100%;
    margin-left: 42px;  

    margin-top: -5px;
    position: relative;
}

.col-post_list{
    padding: 0;
}
.post_title {
    font-size: 0.7rem;
}
.main_post_list::-webkit-scrollbar{
    width: 7px;
  
}
/* Track */
.main_post_list::-webkit-scrollbar-track {
    border-radius: 20px;
  }
   
  /* Handle */
  .main_post_list::-webkit-scrollbar-thumb {
    background: rgb(14,48,168); 
    border-radius: 10px;
   
  }
  
  /* Handle on hover */
  .main_post_list::-webkit-scrollbar-thumb:hover {
    background: rgb(14,48,168); 
  }
  .post_list {
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 20px;
}
.post_list:hover {
    box-shadow: 0px 1em 3em 0px #0000002e;
    /*transion on hover*/
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in;

}
.current_post_type {
    display: flex;
    gap: 1em;
}
.post_list.active_post {
    box-shadow: 0px 1em 3em 0px #0e33e938;
}
.post_list.analizando_post{
    opacity: 0.5;
    pointer-events: none;
}
.score_post_starts svg{
    font-size: 2em;
    color: white;
}
.post_description_likes_number {
    font-size: 16px;
    font-weight: bold;
}
.post_description_likes_title {
    font-size: 0.8em;
    text-transform: capitalize;
}
.image_title {
    display: flex;
    gap: 2em;
}
.current_post_link a:hover {
    color: #ffffff9c;
}

.main_post_list_description {
    padding: 0.5em 3em;
    border-radius: 20px;
    height: 420px;
}
.post_description_items {
    padding: 0em !important;
    margin: 0;
    border-radius: 20px;
}
.current_post_link {
    margin-top: 1em;
    color: white;
}
.analisys_post_name {
    font-size: 1em;
    color: black;
    margin-top: 0.5em;
    font-weight: bold;
    padding: 1em 0em;
}
.type_post_item {
    border-radius: 20px;
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
.analizis_button {
    background-color: rgb(47,81,248);
    padding: 0.3em 2em;
    border-radius: 20px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}
.analizis_button_icon {
    text-align: center;
    margin-bottom: 1em;
}
.post_post_like {
    background-color: #dde9f2;
    padding: 0.5em;
    width: 20%;
    text-align: center;
    border-radius: 25px;
}
.analisys_post_text{
    border-radius: 20px;
    height: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.analizis_button_icon i{
    font-size: 2.5em;
    color: black;
}
.analisys_post {
    border: 2px dashed rgb(187,187,187);
    border-radius: 20px;
    background-color: #ffffff4d;
    height: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.main_analizis_post {
    padding: 1em 1em 0.3em 1em;
}
.current_post_link a {
    color: #2800a8;
    font-size: 1em;
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.type_post_item {
    border-radius: 20px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    gap: 0.2em;
}
.post_likes_number {
    font-size: 16px;
}
.description_image img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 100px;
}
.post_description_date {
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}